USE [TestDB]
GO
/****** Object:  Table [dbo].[UMLS_ICD10]    Script Date: 6/3/2021 10:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMLS_ICD10](
	[AUI] [nvarchar](20) NULL,
	[ParentAUI] [nvarchar](20) NULL,
	[MinCode] [nvarchar](20) NULL,
	[MaxCode] [nvarchar](20) NULL,
	[CodeCount] [int] NULL,
	[OntologyType] [nvarchar](20) NULL,
	[SqlSetWhere] [nvarchar](1000) NULL,
	[UiDisplayName] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[UMLS_ICD10] ([AUI], [ParentAUI], [MinCode], [MaxCode], [CodeCount], [OntologyType], [SqlSetWhere], [UiDisplayName]) VALUES (N'A17773406', N'A17786169', N'A03.3', N'A03.3', 1, N'ICD10CM', N'= ''A03.3''', N'Shigellosis due to Shigella sonnei (ICD10CM:A03.3)')
INSERT [dbo].[UMLS_ICD10] ([AUI], [ParentAUI], [MinCode], [MaxCode], [CodeCount], [OntologyType], [SqlSetWhere], [UiDisplayName]) VALUES (N'A17773417', N'A17786178', N'A08.11', N'A08.11', 1, N'ICD10CM', N'= ''A08.11''', N'Acute gastroenteropathy due to Norwalk agent (ICD10CM:A08.11)')
INSERT [dbo].[UMLS_ICD10] ([AUI], [ParentAUI], [MinCode], [MaxCode], [CodeCount], [OntologyType], [SqlSetWhere], [UiDisplayName]) VALUES (N'A17773418', N'A17837361', N'A08.31', N'A08.31', 1, N'ICD10CM', N'= ''A08.31''', N'Calicivirus enteritis (ICD10CM:A08.31)')
